
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 } 

 html, body {
  height: 800px;
  width: 100%;


 }

 #main{
    width: 100%;
    height: 100vh;
 }

 nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  padding: 0 5px;
  margin: 0 auto;
  cursor: default;
  width: 100%;
  /* -webkit-user-select: none;
  user-select: none;
  list-style: none; */
  position: fixed;
  z-index: 99999;
  background-color: rgba(22, 22, 23, .8) ;
  /* backdrop-filter: saturate(180%) blur(20px); */
 }

 nav .itens-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin: 0 -8px;
  height: 44px;
  padding-left: 8px;
 }

 nav .itens-menu a {
  text-decoration: none;
    color: rgba(255, 255, 255, .8);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1;
    padding: 0 8px;
   
  }

  nav .itens-menu a:hover{
    color: #fff;
  }


   nav .itens-menu a:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
    
  }

  nav .itens-menu img{
       padding: 0 8px;
  }

 .logo img:hover{
    content: url(/assets/images/apple-fill17px-white.svg);
  }
  
  .input-search{
    display: flex;
    width: 100%;
    margin-bottom: 25px;
  }

  .input-area {
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
    z-index: 1;
    margin-inline-start: -30px;
    margin-inline-end: -31px;
    padding-inline-start: 34px;
    padding-inline-end: 34px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #E8E8ED;
    line-height: 1;
  }

  .input-area:focus {
    outline: 0;
  }
  .nav-list {
    /* display: none; */
  }

  .dropdown {
    position: absolute;
    top:-20px;
    left: 0;
    width: 100%;
    background-color: black;
    /* backdrop-filter: saturate(180%) blur(20px);  */
    transition: all .4s ease-in;
    padding-top: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    /* transform: translateY(-20px); */
  }

  .logo-search-bag {
    display: flex;
    padding-right: 20px;
  }

  .bag-subtitle{
    padding-top: 20px;
    padding-left: 5px;
  }

  .search:hover {
    content: url(/assets/images/search-line-white.svg);
  }

  .bag:hover {
    content: url(/assets/images/shopping-bag-line-white.svg);
  }

  .nav-dropdown{
    display: flex;
    max-width: 1024px;
    justify-content: center;
    align-items: center;
    margin:0 auto;
  }

  .dropdow-inner {
    display: flex;
    padding: 50px;
    padding-left: 25px;
    width: 100%;
  }

  .dropdow-inner-search {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-left: 25px;
    width: 100%;
  }

  .dropdown-item{
    padding-left: 10%;
  }

  .item-heading{
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: rgb(134, 134, 139);
    padding-bottom: 10px;
  }
  .item-heading-small {
    padding-left: 15px ;
  }


  .item-list-main{
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  
  .item-list {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 600;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; 
  }

  .searchlist {
    padding-left: 5px; 
  }

  .item-list ul{
    list-style: none;
  }

  .item-list ul li{
    list-style: none;
    padding-bottom: 5px;
  }

  .item-list-main ul{
    list-style: none;
  }

  .item-list-main ul li{
    list-style: none;
    padding-bottom: 5px;
  }

  

  footer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  footer a {
    color: black;
  }






